
$accentFont: "JetBrains Mono", monospace;
$defaultFont: "Roboto", sans-serif;
$accentColor: #3b5fc0;

$bgColorDark: #38496f;
$textColorDark: #ffffff;

$bgColorLight: #ffffff;
$textColorLight: #090D12;
